<h1> Showing the selected article.</h1>

<p>
    Title: <%= @article.title %>
</p>
<p>
    Description: <%= @article.description %>
</p>

<%= link_to "Back to Articles Listing" , articles_path %>
<%= link_to "Edit This Article", edit_article_path(@article) %>