<!DOCTYPE html>
<html>
	<head>
		<title> Alpha Blog </title>
		<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css"/>
	</head>
	<body>
	    <nav>
	    <div class = "menu">
	    <h1> Alpha Blog</h1>
	    <%= link_to 'Home', root_path %>
	    </div>
	    </nav>
	   	<section>
	    	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed iaculis felis. Cras ut placerat felis, id porttitor sapien. Proin egestas lacinia nunc vel eleifend. Cras erat est, accumsan sed justo a, lacinia posuere ligula. Aliquam ac leo eu quam ullamcorper vehicula. Pellentesque egestas dolor scelerisque enim iaculis, vel volutpat dolor porta. Sed tincidunt eu libero sed vulputate. Sed dui elit, mollis eu sapien sed, consequat luctus nisl.

				Phasellus turpis mi, maximus a condimentum a, rhoncus a magna.</p><p> Maecenas nec elit vel elit vestibulum efficitur. Duis tristique magna quis purus volutpat, ac venenatis nisl volutpat. Cras ante elit, ultrices eget facilisis a, fringilla non ipsum. Praesent sodales, arcu in imperdiet ullamcorper, tellus purus consectetur tellus, et interdum metus justo pretium sapien.</p><p> Integer laoreet magna pharetra, aliquam metus non, maximus enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pharetra fringilla massa, vitae maximus lorem tempus eu.

				Ut rutrum neque nisl, vel pretium ex aliquam gravida.</p> 
	    </section>
	    <footer> Created for Udemy Assignment. 2016.</footer>
	</body>
</html>
