$navbar-default-bg: #68737e;

@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown li a{
    background-color: #68737e;
}

#logo {
    float:left;
    font-size: 1.8em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #FFF;
    text-decoration:none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('keauhou.jpg');
    background-size: cover;
    height: 700px;
}

.jumbotron h1 {
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
}

.btn-xlarge{
    font-size: 2.0em;
    margin-top: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.navbar-default .navbar-nav li a{
    color: #FFF;
    font-weight: bold;
    font-size: 1.3em;
}

.article-actions{
     border-top: 1px solid #b2b2b2;
     padding-top: 5px;
 
}

.description{
    margin-top: 0;
}

.article-title{
    font-weight:bold;
    font-size: 1.5em;
}

.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    
}


footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #8c8c8c;
    color: #000;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.2em;
    
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
    
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

