<div class="container">
    <footer class = "footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com">Udemy Alpha Blog Assignment Section 5</a>
            by Me
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>